* {
  margin: 0;
  padding: 0;
}

ul {

}

ul li{
 list-style: none;
  display: inline-block;
  float: left;
}

ul li a {
  text-decoration: none;
  font-size: 18pt;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  background-color: #ffffff;
	color: #000000;
}
